<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:v-on="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="jzpp">
    <h3 th:text="'Logged in as: ' + ${session.username}"></h3>
    <button onclick="window.location='/logout'">Log out :(</button>
    <table>
        <tr>
            <td>id</td>
            <td>Name</td>
            <td>Amount</td>
            <td>Description</td>
            <td>Price</td>
            <td>Tags</td>
            <td>Discount</td>
            <td></td>
        </tr>
        <tr v-for="product in products">
            <template v-if="editing === product.product">
                <td><span id="edit-id">{{ product.product.getId() }}</span></td>
                <td><input id="edit-name" type="text" :value="product.product.getName()" title="name"/></td>
                <td><input id="edit-amount" type="number" :value="product.product.getAmount()" title="amount"/></td>
                <td><input id="edit-price" type="number" :value="product.product.getPrice()" title="price"/></td>
                <td><input id="edit-description" type="text" :value="product.product.getDescription()" title="desc">
                </td>
                <td><input id="edit-tags" type="text" :value="product.product.getTagsAsString()" title="tags"/></td>
                <td></td>
                <td>
                    <button v-on:click="done()">DONE</button>
                </td>
            </template>
            <template v-else>
                <td>{{ product.product.getId() }}</td>
                <td>{{ product.product.getName() }}</td>
                <td>{{ product.product.getAmount() }}</td>
                <td>
                    <template v-if="product.discount !== 0">
                        <s>{{ product.product.getPrice() }}PLN</s><br>
                        <b>{{ product.product.getPrice()*(100-product.discount)/100 }}PLN</b>
                    </template>
                    <template v-else>
                        {{ product.product.getPrice() }}PLN
                    </template>
                </td>
                <td>{{ product.product.getDescription() }}</td>
                <td>
                    <template v-for="tag in product.product.getTags()">
                        {{ tag.name }}<br>
                    </template>
                </td>
                <td>{{ product.discount }}%</td>
                <td th:if="${session.admin == true}">
                    <button v-on:click="edit(product.product)">EDIT</button>
                </td>
                <td th:if="${session.admin != true}">
                    <button v-on:click="add(product.product)">ADD</button>
                </td>
            </template>
        </tr>
    </table>
    <div th:if="${session.admin == true}">
        Dodaj nowy produkt!
        <table>
            <tr>
                <td>Name</td>
                <td>Amount</td>
                <td>Description</td>
                <td>Price</td>
                <td>Tags</td>
            </tr>
            <tr>
                <td><input type="text" id="new-name" placeholder="Name..."></td>
                <td><input type="number" id="new-amount" placeholder="Amount..."></td>
                <td><input type="text" id="new-description" placeholder="Description..."></td>
                <td><input type="number" id="new-price" placeholder="Price..."></td>
                <td><input type="text" id="new-tags" placeholder="Tag1, Tag2, Tag3, ..."></td>
            </tr>
        </table>
        <button v-on:click="addProduct()">Dodaj!</button>
    </div>
    <div th:if="${session.admin != true}">
        <template v-if="cart.length===0">
            Your cart is empty :(
        </template>
        <template v-else>
            Your cart ({{ cart.length }} items):
            <span v-for="item in cart">
                <br>{{ item.item.product.getName() }} x {{ item.amount }} = {{ item.item.product.getPrice()*(1-item.item.discount)*item.amount }}PLN
            </span>
        </template>
    </div>
    <div id="weather"
         style="position: fixed; top: 10px; right: 10px; background-color: bisque; color: saddlebrown; width: 100px; height: 100px">
        {{ weather }}
    </div>
</div>
<script src="/js/lib/jquery-3.3.1.min.js"></script>
<script src="/js/lib/vue.js"></script>
<script src="/js/lib/vue-resource.js"></script>
<script src="/js/product.js"></script>
<script src="/js/jzpp.js"></script>
</body>
</html>
