<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a th:href="@{/getToken}"><img src="/img/sign-in-with-twitter-gray.png"/></a>
<div id="jzpp">
    <table>
        <tr>
            <td>id</td>
            <td>Name</td>
            <td>Amount</td>
            <td>Price</td>
            <td>Description</td>
            <td>Tags</td>
        </tr>
        <tr v-for="product in products">
            <td>{{ product.product.getId() }}</td>
            <td>{{ product.product.getName() }}</td>
            <td>{{ product.product.getAmount() }}</td>
            <td>{{ product.product.getPrice() }}PLN</td>
            <td>{{ product.product.getDescription() }}</td>
            <td>
                <template v-for="tag in product.product.getTags()">
                    {{ tag.name }}<br>
                </template>
            </td>
        </tr>
    </table>
</div>
<script src="/js/lib/jquery-3.3.1.min.js"></script>
<script src="/js/lib/vue.js"></script>
<script src="/js/lib/vue-resource.js"></script>
<script src="/js/product.js"></script>
<script src="/js/jzpp.js"></script>
</body>
</html>
